<div class="content-header">
	<div class="header-inner">
		<h2>Tasks</h2>
	</div>
</div>
<div class="tasks">
	<% @tasks.each do |task| %>
	<div class="task">
		<div class="task-content">
			<%= check_box_tag :complete, task.id %> <span class="due"><%= task.due %></span> <%= task.content %>
		</div>
	</div>
	<% end %>
</div>
<div class="content-footer">
	<div class="footer-inner">
		<h4>- end -</h4>
	</div>
</div>

