<% @function = "Collaborators" %>
<p id="notice"><%= notice %></p>
<%= render 'form' %>
<hr>
<table>
<% @collaborators.each do |collaborator| %>
  <tr>
    <td width="300"><%= collaborator.user.email %></td>
    <td><%= link_to 'Remove', [@project, collaborator], confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>
