<h1>Welcome!</h1>
<div class='guide'>
		You can create a project to proceed: <%= button_to '+ New Project', new_project_path, :method => :get %><br />
		Or manage tasks right away: <%= button_to '+ New Task', new_task_path, :method => :get %>
</div>