
<div class='login'>
	<h1 align='center'>Actions.io</h1>
	<h2 align='center'>"The Pulse of Company"</h2>

	<p style="text-align:center;"><%= link_to 'Sign In', new_user_session_path %> / <%= link_to 'Sign Up', new_user_registration_path %></p>
</div>