<h1>New project</h1>
<pre style="width:700px;">
	
 <%= image_tag 'lquote.png' %> Project is nothing more about: people, budget and time frame aiming at the problems to be 
 solved. It's a game of trade-offs above all these three matters. <%= image_tag 'rquote.png' %>

</pre>
<br />
<%= render 'form' %>

<%= link_to 'Back', projects_path %>
