<h1>New project</h1>
<pre style="width:700px;">
	
 <%= image_tag 'lquote.png' %> Project is nothing more about: people, budget, time frame aiming at the problems to be solved. 
 It's a game full of trade-offs between all these four matters. <%= image_tag 'rquote.png' %>

</pre>
<br />
<%= render 'form' %>

<%= link_to 'Back', projects_path %>
