.mt5{
	margin-top:5px;
}
.mr5{
	margin-right: 5px;
}
.mr20{
	margin-right: 20px;
}
h2 {
font-size: 18px;
font-weight: bold;
line-height: 20px;
}
hr {
height: 0;
padding: 0;
border: 0;
border-top: 1px solid #EEE;
}
.clearfix{
	clear:both;
}
.fr{
	float: right;
}
.fl{
	float: left;
}

html, body, #page-outer{
	height:100%;
	background-color:#8ec1da;
	font-size:14px;
	line-height:18px;
	color:#333;
}
body, label, input, textarea, select, button {
	font-family: "Helvetica Neue",Arial,sans-serif;
}
.drop-create{
	margin:5px 0 0 5px;
	padding:4px 0 0 5px;
	height:22px;
	font-size:13px;
	border:1px dashed #ccc;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;	
}

#page-container{
	width:940px;
	min-height:100%;
	margin:0 auto;
	padding:54px 15px 15px 15px;
	background:url(wash-white-30.png);
}

.page-top{
	padding:0 12px 6px 12px;
}
.page-top h2{
	float:left;
}
.list{
	width:560px;
	float:left;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}
.updates{
	width:340px;
	float:right;
}
.content-header{
	border: 1px solid rgba(0, 0, 0, .1);
	-webkit-border-radius: 6px 6px 0 0;
	-moz-border-radius: 6px 6px 0 0;
	border-radius: 6px 6px 0 0;
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding;
	background-clip: padding-box;
}
.content-header .header-inner{
	min-height: 20px;
	padding: 12px;
	background-color: white;
	border-bottom: 1px solid #E8E8E8;
	-webkit-border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
}
.content-footer{
	border: 1px solid rgba(0, 0, 0, .1);
	-webkit-border-radius: 0 0 6px 6px;
	-moz-border-radius: 0 0 6px 6px;
	border-radius: 0 0 6px 6px;
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding;
	background-clip: padding-box;
}
.content-footer .footer-inner{
	padding: 6px;
	background-color: white;
	border-top: 1px solid #E8E8E8;
	-webkit-border-radius: 0 0 5px 5px;
	-moz-border-radius: 0 0 5px 5px;
	border-radius: 0 0 5px 5px;
	text-align:center;
}
.task{
	background: white;
	border-left: 1px solid rgba(0, 0, 0, .1);
	border-right: 1px solid rgba(0, 0, 0, .1);
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding;
	background-clip: padding-box;
}
.task-content{
	padding: 9px 12px;
	border-bottom: 1px solid #E8E8E8;	
	cursor: pointer;
}
.task .due{
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding:2px 3px 3px 3px;
	background-color:#6E3939; /*#0C7823*/
	color:#fff;
	font-size:11px;
}

.form-horizontal .short-label{
	width:80px;
}
.form-horizontal .short-content{
	margin-left:90px;
}
.form-horizontal .drag-drop-area{
	padding-top:24px;
	min-height: 40px;
	font-size: 13px;
	border: 1px dashed #666;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	text-align:center;	
}

.panel{
	border: 1px solid rgba(0, 0, 0, .1);
	-webkit-border-radius: 6px 6px 6px 6px;
	-moz-border-radius: 6px 6px 6px 6px;
	border-radius: 6px 6px 6px 6px;
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding;
	background-clip: padding-box;
	background:white;
}
.panel .panel-inner{
	-webkit-border-radius: 0 0 5px 5px;
	-moz-border-radius: 0 0 5px 5px;
	border-radius: 0 0 5px 5px;	
}
.dashboard{
	float: left;
	width: 302px;
}
.admin-content{
	float: right;
	width: 622px;
}

.content-inner, .content-narrow, .page-canvas, .permalink {
-webkit-background-clip: padding-box;
-moz-background-clip: padding;
background-clip: padding-box;
}
.content-inner {
padding: 12px 12px 24px 12px;
background-color: white;
border-left: 1px solid #EEE;
border-left: 1px solid rgba(0, 0, 0, .1);
border-right: 1px solid #EEE;
border-right: 1px solid rgba(0, 0, 0, .1);
}
.content-inner.no-stream-end {
margin-bottom: 14px;
border-bottom: 1px solid #EEE;
border-bottom: 1px solid rgba(0, 0, 0, .1);
-webkit-border-radius: 0 0 6px 6px;
-moz-border-radius: 0 0 6px 6px;
border-radius: 0 0 6px 6px;
}

.module {
position: relative;
margin-bottom: 10px;
line-height: 16px;
-webkit-border-radius: 6px;
-moz-border-radius: 6px;
border-radius: 6px;
-webkit-background-clip: padding-box;
-moz-background-clip: padding;
background-clip: padding-box;
background-color:whiteSmoke;
}
.module {
text-shadow: 0 1px 0 white;
border: 1px solid #EEE;
border: 1px solid rgba(0, 0, 0, .1);
border-top-left-radius: 5px;
border-top-right-radius: 5px;
}
.form-inline label{
	width: 100px;
	text-align: right;
}
.form-inline .controls{
	margin-left: 20px;
}

#masonry-container .item {
  width: 225px;
  margin: 0 10px 10px 0;
  float: left;
}
.content-header .mini-profile{
	background-color: #F9F9F9;
	padding: 12px;
	line-height: 16px;
	font-size: 12px;
	position: relative;
}
.account-summary{
	margin-left: 42px;
}
.mini-profile .avatar{
	position: absolute;
	top: 12px;
	left: 12px;
}
.size32 {
	width: 32px;
	height: 32px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.mini-profile .fullname{
	display: block;
	font-size: 14px;
	color: #333;	
}
.mini-profile .role{
	font-size: 11px;
	color: #999;
}
#masonry-container .item .task{
	line-height:30px;
	padding: 0 10px;
	font-size: 12px;
	border-bottom: 1px solid #e8e8e8;
	border-left: 0px;
	border-right: 0px;
}
.task-content .user{
	float: right;
	font-size: 11px;
	color: #999;
}
.task-detail{
	padding: 20px;
	background: #F9F9F9;
	border-left: 1px solid #EEE;
	border-left: 1px solid rgba(0, 0, 0, .1);
	border-right: 1px solid #EEE;
	border-right: 1px solid rgba(0, 0, 0, .1);
}
.task-edit-form .literal{
	float: left;
	border-right: 1px solid #E8E8E8;
	padding-right:20px;
}
.task-edit-form .attachments{
	float: left;
	border-right: 1px solid #E8E8E8;
	padding-right:20px;
	width: 240px;
}
.task-edit-form .comments{
	font-size: 12px;
}
.task-form{
	padding-left:80px;
}
.task-edit-form .select-block, .task-form .select-block{
	cursor: pointer;
	margin-right: 5px;
	padding: 4px 5px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	font-size: 12px;
}
.task-edit-form .due, .task-edit-form .assignee, .task-form .due, .task-form .assignee{
	color: #fff;
	background: #993366;
}
.task-edit-form .active, .task-form .active{
	color: #fff;
	background: #517fd8;
}
.file-parking{
	border: 2px dashed #666;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;
	font-size: 12px;
	padding: 10px;
	font-weight: bold;
	font-size: 14px;
}
.content-header .content{
	background: #fff;
}
.input-xxlarge{
	width: 300px;
}
.input-xxxlarge{
	width: 360px;
}
.content-header .notice{
	float: right;
	font-size:14px;
	color: green;
}