.mt5{
	margin-top:5px;
}

h2 {
font-size: 18px;
font-weight: bold;
line-height: 20px;
}
.clearfix{
	clear:both;
}


html, body, #page-outer{
	height:100%;
	background-color:#8ec1da;
	font-size:14px;
	line-height:18px;
	color:#333;
}
body, label, input, textarea, select, button {
	font-family: "Helvetica Neue",Arial,sans-serif;
}
.drop-create{
	margin:5px 0 0 5px;
	padding:4px 0 0 5px;
	height:22px;
	font-size:13px;
	border:1px dashed #ccc;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;	
}

#page-container{
	width:940px;
	min-height:100%;
	margin:0 auto;
	padding:54px 15px 0 15px;
	background:url(wash-white-30.png);
}

.page-top{
	padding:0 12px 6px 12px;
}
.page-top h2{
	float:left;
}
.list{
	width:550px;
	float:left;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}
.updates{
	width:350px;
	float:right;
}
.content-header{
	border: 1px solid rgba(0, 0, 0, .1);
	-webkit-border-radius: 6px 6px 0 0;
	-moz-border-radius: 6px 6px 0 0;
	border-radius: 6px 6px 0 0;
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding;
	background-clip: padding-box;
}
.content-header .header-inner{
	min-height: 20px;
	padding: 12px;
	background-color: white;
	border-bottom: 1px solid #E8E8E8;
	-webkit-border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
}
.content-footer{
	border: 1px solid rgba(0, 0, 0, .1);
	-webkit-border-radius: 0 0 6px 6px;
	-moz-border-radius: 0 0 6px 6px;
	border-radius: 0 0 6px 6px;
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding;
	background-clip: padding-box;
}
.content-footer .footer-inner{
	padding: 6px;
	background-color: white;
	border-top: 1px solid #E8E8E8;
	-webkit-border-radius: 0 0 5px 5px;
	-moz-border-radius: 0 0 5px 5px;
	border-radius: 0 0 5px 5px;
	text-align:center;
}
.task{
	background: white;
	border-left: 1px solid rgba(0, 0, 0, .1);
	border-right: 1px solid rgba(0, 0, 0, .1);
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding;
	background-clip: padding-box;
}
.task-content{
	padding: 9px 12px;
	border-bottom: 1px solid #E8E8E8;	
	cursor: pointer;
}
.task .due{
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding:2px 3px 3px 3px;
	background-color:#6E3939; /*#0C7823*/
	color:#fff;
	font-size:11px;
}

.form-horizontal .short-label{
	width:80px;
}
.form-horizontal .short-content{
	margin-left:90px;
}
.form-horizontal .drag-drop-area{
	padding-top:24px;
	min-height: 40px;
	font-size: 13px;
	border: 1px dashed #666;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	text-align:center;	
}